/* You can add global styles to this file, and also import other style files */

@import url(@angular/material/prebuilt-themes/indigo-pink.css);

html,
body {
  height: 100%;
  width: 100dvw;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
}

nav {
  width: 50vw;
}

@media only screen and (max-width: 426px) {
  nav {
    width: 95vw;
  }
}
